name: Test and build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: Run 'npm install'
      run: npm install
    - name: Run tests
      run: npm test
    - name: Publish unit test results
      uses: EnricoMi/publish-unit-test-result-action@v1.16
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        files: junit.xml